body{
  background-color: #9BB7D4;
}

.cabecalho{
  background-color: #0072B5;
  width: 100%;
  height: 10vh;
}

.cabecalho__content{
  background-color: #0072B5;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1em;
  border-bottom: 1px solid black;
  position: relative;
  box-shadow: 1px 1px 12px -2px;
}
.cabecalho__logo{
  font-size: 3.3em;
}

.btn-dropdown{
  font-size: 1.5em;
}


.cabecalho__btns{
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
}

.menu-dropdown{
  display: flex;
  position: relative;
  background-color: #A09998;
  width: 100%;
  height: 42vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  transition: 600ms;
  opacity: 1;
  box-shadow: 0px 7px 11px -6px black;
}

.menu-dropdown--ativo{
  display: flex;
  position: relative;
  background-color: #A09998;
  top: -74vh;
  justify-content: center;
  transition: 600ms;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.cabecalho__menu{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cabecalho__item{ 
  display: inline;
  margin-bottom: 5px;
  width: 75vw;
  padding: 1vh 0;
  font-size: 1.5em;
}

.cabecalho__btns{
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
}

.cabecalho__btn{
  font-size: 1em;
  border-radius: 0.7em;
  margin: 2vh;
}

.cabecalho__btn:hover{
  background-color: #f1ba55;
  color: white;
}


.cabecalho__logo, .cabecalho__item, .painel__links{
  text-decoration: none;
  color: white;
}

.cabecalho__logo:hover, .cabecalho__item:hover, .painel__links:hover{
  color: #f1ba55;
}

.active{
  background-color: white;
  color: black;
}

.divisor{
  width: 75vw;
}

.divisor-botom{
  margin-bottom: 3vh;
}

.conteudo{
  position: relative;
}

.painel__lateral{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a1a998;
  width: 20vw;
  height: 90vh;
  padding-top: 2em;
  box-sizing: border-box;
  position: absolute;
  left: -20vh;
}

.painel__itens{
  padding: 1em 0;
  font-size: 1.4em;
}

.conteudo__central{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.navegacao{
  font-size: 1em;
  margin: 3vh 0 1vh 0;
  text-align: center;
  font-style: italic;
}

.navegacao a{
  text-decoration: none;
  font-size: 1.4em;
  color: blue;
}
.navegacao a:hover{
  text-decoration: underline;
  color: #f1ba55;
}

.tasks{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.task__container{
  margin: 0 0 10% 0;
}

.tasks__titulo{
  font-size: 2.5em;
  font-style: italic;
  text-align: center;
}

.tasks__forms{
  border: 1px solid black;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  align-items: center;
  box-shadow: 1px 1px 11px black;
}

.tasks__label{
  font-size: 1.5em;
  font-style: italic;
  margin: 2.1% 0;
}

.tasks__forms-input{
  width: 75vw;
  height: auto;
  font-size: 1em;
  font-family: auto;
}

.tasks__forms-textarea{
  font-size: 1.059em;
  height: auto;
  width: 75vw;
  font-family: auto;
}

.tasks__btn{
  width: auto;
  height: auto;
  font-size: 1.2em;
  margin: 2vh 0;
}

.tasks__filtros{
  text-align: center;
  margin: 0 0 2vh 0px;
}

.tasks__filtros input{
  font-size: 1em;
  height: auto;
}

.tasks__filtros select{
  font-size: 1em;
  height: auto;
}

.tasks__apresentar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tasks__cards{
  width: 77%;
  height: auto;
  padding: 1em;
  font-size: 1.15em;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 5vh;
  border-radius: 10px;
  overflow-wrap: anywhere;
  background-color: white;
  box-shadow: 1px 1px 11px black;
}

.tasks__links{
  display: contents;
}

.tasks__cards--remove{
  transition: 1s;
  opacity: 0;
}

.tasks__cards__iten{
  margin: 1.3vh 0;
}

.tasks__cards__iten strong{
  font-weight: bold;
}


.tasks__cards__descricao{
  white-space: break-spaces;
}

.task__container__botoes{
  text-align: center;
  margin: 0 0 2vh 0px;
}

.task__container__botoes button{
      width: 45%;
      height: 5vh;
}

.tasks__apresentacao{
  border: 1px solid black;
  background: white;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 6px 1px black;
  border-radius: 6px;
  height: auto;
  box-sizing: border-box;
}

.tasks__apresentacao__item{
  margin: 1vh 0 2vh 2vw;
}

.tasks__apresentacao__item h1{
  font-size: 1.5em;
  font-weight: bold;
}

.botao-salvar{
  margin-top: 2vh;
}


@media(max-width: 450px){
  /* .cabecalho__content{
    justify-content: space-between;
  } */


 /* .painel__lateral{
    position: absolute;
    left: -200px;
  } */



  /* .conteudo{
    width: 100vh;
    height: 13vh;
    margin: 0;
  }

  .cabecalho__menu{
      display: flex;
  }


  .cabecalho__btn{
    margin: 1vh 0vh;
  }



  .tasks__forms{
    width: 48vh;
    margin: 0;
  } */ */
}