{%extends "template.html"%}
{%block conteudo%}
    <div class="container">
        <form action="/novo" method="post">
            <label for="cor">Cor</label>
            <input type="text" id="cor" name="cor">

            <div>
                <label for="rate">Rate</label>
                <select class="rate" id="rate" name="rate">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <input class="botao_enviar" type="submit" value="Enviar">
            
        </form>
    </div>
{%endblock%}