{% extends "template.html" %}
{% block conteudo %}
<div class="container">
    <a href="/relogio" aria-label="Veja o horário do voo">
        <i aria-hidden="true" class="fas fa-clock"></i>
      </a>
    <table>
        <thead>
            <th>Cor</th>
            <th>Rate</th>
            <th>Ação</th>
        </thead>

        <tbody>
        {%for x in musicas%}
            <tr>
                <td>{{x.cor}}</td>
                <td>{{x.rate}}</td>
                <td><a href="/remover/{{x.id}}"><button>remover</button></a></td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
    <a href="adicionar"><button class="botao">Adicionar</button></a>
</div>
{% endblock %}