body{
    background-color: aqua;
}


.container{
    display: grid;
    gap: 15px;
    padding: 10px;
}

.grid-item{
    background-color: gray;
    padding: 110px 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}   

.item1{ 
    grid-column: 1;
    grid-row: 1;
    box-shadow: 5px 5px 20px black;
}

.item1:hover{
    cursor: pointer;
    border: none;
    opacity: 0.8;
}

.item2{ 
    grid-column: 2/4;
    grid-row: 1;
    border: 1px solid red;
}

.item2:hover{ 
    padding: 150px 0;
    background-color: rgb(134, 130, 130);
    transition: 1s;
}

.item3{ 
    grid-column: 4;
    grid-row: 1;
    border: 1px solid red;
    background: linear-gradient(-138deg,blue,purple, red);
}

.item4{ 
    grid-column: 1 / 4;
    grid-row: 2/4 ; 
    border: 1px solid red;
    padding: 150px 0;
}

.item5{ 
    grid-column: 4;
    grid-row: 2/4;
    border: 1px solid red;
    
}

.item6{ 
    grid-column: 1/5;
    grid-row: 4;
    border: 1px solid red;
}