.container{
    text-align:-moz-center;
    padding: 15px;
}
table{
    width: 100%;
}

tbody, td, tfoot, th, thead, tr {
	border: 2px solid black;
    padding: 15px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

thead{
    background-color:gray;
}

button, input {
	margin: 10px;
	border: none;
	font-size: 28px;
	background: #ececc2;
	box-shadow: 1px 1px 1px 1px black;
	border-radius: 17px;
	padding: 13px;
}

label{
    display:block;
    font-size: 28px;
    font-weight: bold;
}

.botao_enviar{
    display: block;
}

.rate {
    width: 5%;
    font-size: 3em;
    height: 5%;
}
