.container{
    border:1px solid red;
    text-align:-moz-center;
    padding: 15px;
}
table{
    width: 100%;
}

tbody, td, tfoot, th, thead, tr {
	border: 2px solid black;
    padding: 15px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

thead{
    background-color:gray;
}

button, input {
	margin: 10px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border: none;
	font-size: 28px;
	background: #ececc2;
	box-shadow: 1px 1px 1px 1px black;
	border-radius: 17px;
	padding: 13px;
	display: block;
}

label{
    display:block;
    font-size: 28px;
    font-weight: bold;
}