<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='/css/reset.css')}}">
  <link rel="shortcut icon" href="{{url_for('static',filename='/icon/favicon.ico')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
  <script src="https://kit.fontawesome.com/4f5308f8c5.js" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/sendDatas.js')}}"></script>
</head>
<body>
  <header class="cabecalho">
    <div class="cabecalho__content">
      <a href="/" class="cabecalho__logo">
        <img src="" alt="" class="cabecalho__logo__imagem">
        Logo
      </a>
      <btn class="btn-dropdown">
        <i class="fas fa-bars fa-fw fa-xl"></i>
      </btn>
    </div>
    <div class="menu-dropdown menu-dropdown--ativo">
      <div class="cabecalho__btns">
        <button class="cabecalho__btn">Login</button>
        <button class="cabecalho__btn">Cadastro</button>
      </div>
      <ul class="cabecalho__menu">
        <a href="" class="cabecalho__item">
          <li class="cabecalho__link">Menu</li>
        </a>
        <hr class="divisor">
        <a href="" class="cabecalho__item">
          <li class="cabecalho__link">Contato</li>
        </a>
        <hr class="divisor">
        <a href="/task" class="cabecalho__item active">
          <li class="cabecalho__link">Task's</li>
        </a>
      </ul>
    </div>
  </header>

  <main class="conteudo">
    <!-- <div class="painel__lateral">
      <i class="fa-solid fa-user-tie fa-5x"></i>
      <img src="" alt="" class="painel__avatar">
      <ul class="painel__lista">
        <li class="painel__itens"><a href="/task" class="painel__links">Task's</a></li>
        <li class="painel__itens"><a href="#" class="painel__links">Artigos</a></li>
        <li class="painel__itens"><a href="#" class="painel__links">Publicações</a></li>
      </ul>
    </div> -->

    <div class="conteudo__central">
      {% block content %}
      {% endblock %}
    </div>

  </main>
  <script src="{{url_for('static', filename='js/index.js')}}"></script>
  
  <script src="{{url_for('static', filename='js/getData.js')}}"></script>
</body>
</html>

