{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

    <div class="tasks">
        <div class="tasks__adicionar">
            <hr class="divisor">
            <h1 class="tasks__titulo">Adicionar</h1>
            <hr class="divisor divisor-botom">
            <form class="tasks__forms" method="post">
                <label for="tarefa" class="tasks__label">Tarefa</label>
                <input id="tarefa" type="text" class="tasks__forms-input" placeholder="Informe a tarefa a ser realizada" name="tarefa">

                <label for="descricao" class="tasks__label">Descrição</label>
                <textarea class="tasks__forms-textarea" name="descricao" id="descricao" placeholder="Informe a descrição da tarefa."></textarea>
                <button class="tasks__btn" type="submit">Adicionar</button>
            </form>
        </div>

        <div class="tasks__re-edi-apr">
            <hr class="divisor">
            <p class="oquefazer" style="text-align: center; text-align: center;font-size: 2.5em;font-style: italic;"> Tarefas</p>
            <hr class="divisor divisor-botom">
            <div class="tasks__apresentar">
                {% if listTask != None %}
                    {% for x in listTask %}
                    <div class="tasks__cards">
                        <span class="tasks__cards__iten tasks__cards__tarefa"><strong>Tarefa: </strong>{{x.tarefa}}</span>
                        <span class="tasks__cards__iten tasks__cards__descricao"><strong>Descrição: </strong>:{{x.descricao}}</span>
                        <span class="tasks__cards__dia"><strong>Dia: </strong>{{x.dia}}</span>
                        <span class="tasks__cards__hora"><strong>Hora: </strong>{{x.hora}}</span>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='/js/tasks.js')}}"></script>
{% endblock %}