<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Minha Página</title>
        <link rel="stylesheet" href="../static/styles/style.css">
    </head>
    <body>
        <header>
            <img id="banner" src="My New Banner.png" >
        </header>

        

        <h1>What is Lorem Ipsum?</h1>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <em>when an unknown printer <strong> a galley of type and scrambled</strong> it to make a type specimen book</em>.</p>
        <p id="pintar">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        <p class="par1"">It was popularised in the <strong>1960s</strong> with the release of Letraset sheets containing Lorem Ipsum passages, and more recently </p>
        <p class="par2"">with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <p>
            teste
        </p>
  </body>
</html>