<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Minha Página</title>
        <link rel="stylesheet" href="../static/styles/style.css">
    </head>
    <body>
        <header>
            <h1 class="cabecalho">Vitor Santos Lanaro</h1>
            <img id="banner" src="My New Banner.png" >
        </header>
        
        <div id="principal">
            
            <h2 class="alinhar_principal">Meu site</h2>
            
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <em>when an unknown printer <strong> a galley of type and scrambled</strong> it to make a type specimen book</em>.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <p class="par1"">It was popularised in the <strong>1960s</strong> with the release of Letraset sheets containing Lorem Ipsum passages, and more recently </p>
            <p class="par2"">with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        
        <div id="pro">
            <h2 class="alinhar_principal">Propriedades</h2>
            <ul id="list_prop">
                <li class="list_prop">Arroz</li>
                <li class="list_prop">Feijão</li>
                <li class="list_prop">Batata</li>
                <li class="list_prop">Coca-Cola</li>
                <li class="list_prop">Sukita</li>
            </ul>

            <img id= "img_pro" src="phoca_thumb_l_image03_grd.png">
        </div>

  </body>
</html>