<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Minha Página</title>
        <link rel="stylesheet" href="/static/styles/style.css">
    </head>
    <body>
        <header>
            <h1 class="cabecalho">Vitor Santos Lanaro</h1>
            <img id="banner" src="{{url_for('static', filename='banner.png')}}"> <!-- src="{{ url_for('static', filename='banner.png') }}"-->
        </header>
        
        <div id="principal">
            
            <h2 class="alinhar_principal">Meu site</h2>
            <ul>
            {% for valor in range(10) %}
                <li>{{valor}}</li>
            {% endfor %}
            </ul>

            <p>
                {{logica}}
            </p>
        </div>
        
        <div id="rodape">
            <h2 class="alinhar_principal">Propriedades</h2>
            <div id="propriedades">
                <ul id="list_prop">
                    <li class="list_prop">Arroz</li>
                    <li class="list_prop">Feijão</li>
                    <li class="list_prop">Batata</li>
                    <li class="list_prop">Coca-Cola</li>
                    <li class="list_prop">Sukita</li>
                </ul>
            </div>

            <div id ="imagem_roda">
                <img id= "img_pro" src="{{url_for('static', filename='pingo.png')}}" > <!-- src="{{ url_for('static', filename='pingo.png') }} -->
            </div>
            <a href="pagina2">pagina2</a>
        </div>

  </body>
</html>