body{
    background-color: rebeccapurple;
}

#principal{
    background-color: blueviolet;
    margin-right: 5%;
    margin-left: 5%;
}

#banner{
    width: 90%;
    height: 250px;
    margin-right: 5%;
    margin-left: 5%;
}

.cabecalho{
    padding-left: 10%;
}

.alinhar_principal{
    text-align: center;
    margin-bottom: 100px;
}


.par1{
    text-align: center;
}

.par2{
    text-align: right;
}

em strong {
    color: red;
}

#pro{
    background-color: blueviolet;
    margin-right: 5%;
    margin-left: 5%;
}

div h2{
    background-color: white;
}

#list_prop{
    display: inline-block;
    vertical-align: top;
    padding-left: 30%;
    padding-top: 4%;
    font-size: 200%;
}

.list_prop{
    font-style: italic;
}

#img_pro{
    padding-left: 20%;
}
