body{
    background-color: rebeccapurple;
}

#principal{
    background-color: blueviolet;
    margin-right: 5%;
    margin-left: 5%;
}

#banner{
    width: 90%;
    height: 250px;
    margin-right: 5%;
    margin-left: 5%;
}

.cabecalho{
    padding-left: 10%;
}

.alinhar_principal{
    text-align: center;
    margin-bottom: 2%;
}


.par1{
    text-align: center;
}

.par2{
    text-align: right;
}

em strong {
    color: red;
}

#rodape{
    background-color: blueviolet;
    margin-right: 5%;
    margin-left: 5%;
}

#propriedades{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: center;
}

div h2{
    background-color: white;
}

#list_prop{
    padding-left: 25%;
    font-size: 200%;
}

.list_prop{
    font-style: italic;
}

#imagem_roda{
    display: inline-block;
    width: 49%;
}

#img_pro{
    padding-left: 16%;
}
